{% extends "base.html" %}

{% block title %}
	Produtos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
	<h1>Produtos</h1>
</div>
<div class="row">
	{% for product in products %}
	{% include "catalog/_product.html" %}
	{% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        <nav>
          <ul class="pagination">
              {% for page in paginator.page_range %}
              <li{% if page_obj.number == page %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
              {% endfor %}
          </ul>
        </nav>
    </div>
</div>
{% endblock %}
